name: Build EVE Robot EXE
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Build EXE
        # Chạy lệnh build thông qua npx và chỉ định rõ thư mục hiện tại là dấu chấm (.)
        run: npx nwjs-builder-phoenix --targets=win-x64 --out dist .

      - name: Upload EXE
        uses: actions/upload-artifact@v4
        with:
          name: EVE-Robot-Windows
          path: dist/
